**/.DS_Store
**/.RData
**/.Rhistory
**/.Rapp.history
**/*.pyc
**/*.bbl
**/*.blg
**/*.aux
**/*.synctex.gz
**/__pycache__
.Rproj.user
**/errors.log
**/messages.log
resources/_gen/assets/scss/sass/main.scss_*
